*,
*::after,
*::before{

box-sizing: border-box;
margin: 0;
padding: 0;

}
$fontPrimary : 'Poppins', sans-serif;

body{
    color: #262626;
    font-family: $fontPrimary;
    font-size: 15px;
    font-weight: 1.5em;
}
h1,h2, h3, h4,h5{
    font-family: $fontPrimary;
    margin: 0 0 15px;
    color: red;
}