@import url("https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");

:root {
  --light-color: #fff;
  --dark-color: #171721;
  --dark-color-lighter: #7e8299;
  --accent-color: #22beaa;
  --body-background-color: #202028;
  --border-bottom-color: rgba(255, 255, 255, 0.05);
  --transparent-button-color: rgba(255, 255, 255, 0.1);
  --font-size-small: 1.4rem;
  --font-size-normal: 1.6rem;
  --font-size-medium: 2rem;
  --font-size-large: 2.4rem;
  --font-family: "Poppins", sans-serif;
  --margin-small: 1rem;
  --margin-medium: 1.5rem;
  --gap-small: 1rem;
  --gap-medium: 2.5rem;
}
.theme-light {
  --light-color: #171721;
  --dark-color: #fff;
  --dark-color-lighter: #7e8299;
  --body-background-color: #eef0f8;
  --border-bottom-color: rgba(23, 23, 23, 0.05);
  --transparent-button-color: var(--accent-color);
}

/* base style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  color: var(--light-color);
  background-color: var(--body-background-color);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
i {
  font-size: var(--font-size-large);
  line-height: 0;
}
/* base style */

/* Reuseable Classes */
.container {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.d-grid{
display: grid;
}
.header {
  background-color: var(--dark-color);
}
.nav {
  height: 6rem;
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Rock Salt", cursive;
  font-weight: bold;
  font-size: var(--font-size-large);
}

.align-right {
  margin-left: auto;
}
.icon-btn {
  width: 3.5rem;
  width: 3.5rem;
}
.theme-dark-icon {
  display: none;
}

.nav-mob {
  width: 100%;
  height: 100vh;
  background: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5rem;
  transform: translateX(-105%);
  z-index: 999;
  transition: transform 0.5s;
}
.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  color: white;
  
}
.list-link {
  display: inline-block;
  font-size: var(--font-size-small);
  color: var(--dark-color);
  

  padding: 1rem 1.5rem;
}
.current {
  color: var(--dark-color);
}
.menu-toggle-close {
  background-color: var(--body-background-color);
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.dropdown-menu {
  
  gap: 0;
  margin-left: 1.5rem;
  border-radius: 5px;
  transform: translateY(-3px);
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s;
 
  
}
.dropdown > .list-link i{
    transition: transform .25s;
}
.nav-mob.active{
    transform:  translateX(0);
}
.theme-light .theme-dark-icon{
    display: block;
}
.theme-light .theme-light-icon{
    display: none;
}

.dropdown.active > .list-link i{
    transform: rotate(90deg);
}
.dropdown.active .dropdown-menu{
    height: initial;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

/* Reuseable Classes */

/* First Content */

.card{
  background-color: var(--dark-color);
  padding: 2.5rem;
  border-radius: .4rem;
  height: 600px;
  width: 400px;
  box-shadow: 0 0 3rem 0 rgba(82, 63, 105, .1);
}
.title{
  font-size: var(--font-size-normal);
  margin-bottom: var(--margin-small);
}
.independent-title{
  font-size: var(--font-size-medium);
  color: var(--light-color);
  padding: 2.5rem 0 1.25rem;
}
.main-title{
  font-size: var(--font-size-large);
}
.card-header{
  padding-block: 1rem;
  margin-bottom: var(--margin-medium);
  border-bottom: 1px solid var(--border-bottom-color);
}
.card-header small{
  font-size: 1.2rem;
  color: #7e8299;
}
.card-header .title{
  margin-bottom: 0;
}
.card-image{
 
}
.card-description{
  font-size: var(--font-size-small);
  margin-bottom: var(--margin-small);
}