:root{
    --orange: #ef5839;
    --white: #fff;
    --dark: #2e354f;
    --yellow: #d4b44c;
    --coffee: #312614;
    --darkYellow: #b7832f;
    --dark2: #707070;
    --column: #212614;


}

body{
    margin: 0;     
    color: var(--dark2);
    font-size: 1.125rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

li{
    font-size: 1.5rem;
}

img{
    width: 100%;
    
}

h1{
    font-size: 3rem;
    margin: 0;
    text-align: center;
    
}
h1 span{
    color: var(--darkYellow);
}
h2{
    font-size: 1.5rem;
    color: #ef5839;
}
a{
    color: #ef5839;
}
a:hover,
a:focus{
    color: #d4b44c;

}
.btn{
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}
.btn-accent{
    background: var(--orange);
    color: #fff;

}
.btn-accent:hover{
    color: var(--white);
    background: var(--yellow);
}
.btn-white{
    background: #fff;
    color: #2e354f;
}
.btn-white:hover{
    background: #999;
    color: var(--white);
}
header{
    background: #2e354f;
    padding: 45px 0;
    color: #fff;
    text-align: center;
}
section{
    padding: 45px 0;
}

.container{
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    border: 1px solid magenta;
    
}

.section-two{
    background: var(--dark);
    color: var(--white);
}
/* =========fancy layout=============== */
.fancy img{
    max-width: 100%;
}
.columns{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    border: 5px solid steelblue;
    align-items: flex-start;

}
.col{
    border: 2px solid magenta;
    
}
.columns p{
    margin-top: 0;
}
.col-right{
    background: var(--column);
    padding: .5em;
    color: var(--white);
}
.col-1{

    width: 25%;
}
.col-2{
    width: 50%;

}
.col-3{
    width: 75%;
}

/* ========================================= */
/* ==============section three ==============*/

.section-three .card{
    background: #000;
    color: white;
    width: 100%;
    margin: 0 auto;
    
}
.section-three h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}
.section-three a{
    color: #ffe600;
}

.section-three .button{
    display: inline-block;
    background: var(--orange);
    color: #fff;
    padding: .5em 1.25em;
    text-decoration: none;
    margin-bottom: 50px;
    text-align: center;
}
.section-three .button:hover{
    background: var(--yellow);
    color: #fff;
}
.btn-big{
    font-size: 1.5rem;
}
.btn-smell{
    font-size: .75rem;
}
.accent-color{
    color: #ffe600;
}
.links{
    margin-top: 0;
    margin-bottom: 0;

}
/* ================================= */


/* media query */
@media (max-width: 600px){
    .columns{
        flex-direction: column;
    }
}
@media (max-width: 600px){
    .col-1,
    .col-2,
    .col-3{
        width: 100%;
    }
}