:root {
  --orange: #ef5839;
  --white: #fff;
  --dark: #2e354f;
  --yellow: #d4b44c;
  --coffee: #312614;
  --darkYellow: #b7832f;
  --blue: #1792d2;
  --darkBlue: #143774;
  --dark2: #707070;
  --column: #212614;

}

body {
  margin: 0;
  color: black;
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
}
img{
  max-width: 100%;
  display: block;
}

/* Typography */
h1,
h2,
h3,
.article-title{
  font-family: 'Lora', serif;
  font-weight: 400;
  color: var(--darkBlue);
}
h1{
  font-size: 2rem;
  margin: 0;
}
a{
  color: var(--blue);
  font-weight: bolder;
}
a:hover,
a:focus{
  color: var(--darkBlue);
}
strong{
  font-weight: 700;
}
.article-title{
  font-size: 1.5rem;
}
.article-read-more,
.article-info{
  font-size: .875rem;
}

.article-read-more{
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  
}
.article-read-more:hover,
.article-read-more:focus{
  color: var(--darkBlue);
 
}

.article-info{
  margin: 2em 0;
}

/* Typography */


/* Nav Bar */

.container {
  width: 90%;
  max-width: 900px;
  
}
.container-nav {
  display: flex;
  justify-content: space-between;
}
.container-flex{
  padding-top: 15px;
}
header {
  background: #e3e3e4;
  padding: 45px 0;
  text-align: center;
}
header h1 {
  font-family: "Lora", serif;
  color: #143774;
  font-weight: 400;
  margin: 0;
  font-size: 2rem;
}
.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.6rem;
  letter-spacing: 0.13rem;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}
nav ul li {
  margin-left: 2em;
}
nav ul li a {
  text-decoration: none;
  color: #707070;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-style: bold;
}
nav a:hover,
nav a:focus {
  color: #1792d2;
  cursor: pointer;
}
.current-page {
  border-bottom: 1px solid #707070;
}
.current-page:hover {
  color: #707070;
}
 @media (max-width: 675px) {
  .container-nav{
    flex-direction: column;
  }
  .container-flex{
    flex-direction: column;
  }
  header {
    text-align: center;
  }
  .subtitle {
    text-align: center;
    
  }
  nav ul{
      flex-direction: column;
      
     
  }
  nav ul li{
     margin: 0;
  }
}

@media (min-width: 675px){
  .container-flex{
    flex-direction: row;
  }
  main{
    width: 70%;
  }
  aside{
    width: 25%;
    min-width: 200px;
    margin-left: 1em;
  }
}
/* End Nav Bar */


/* Start Layout */
.container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.container-flex{
  display: flex;
  justify-content: space-between;
  
}

/* End Layout */

/* articles */
.article-featured{
  border-bottom: var(--dark2) 1px solid;
  padding-bottom: 1em;
  margin-bottom: 2em;
  text-align: justify;

   
}
.article-recent{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.article-recent-main{
  order: 2;

}
.article-recent-secondary{

  order: 1;
}

@media (min-width: 675px){
  .article-recent{
   flex-direction: row;
   justify-content: space-between;
  }
  .article-recent .article-title{
    margin-top: 0;
  }
  .article-recent-main{
    width: 68%;
    text-align: justify;
    
  }
  .article-recent-secondary{
    width: 30%;
  }
  .article-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
  }
  .article-info{
    margin-top: 10px;
  }
}

/* End Articles */

/* Widget */
.sidebar-widget{
  border: 20px solid #efefef;
  margin-bottom: 2em;
  padding: 1em;
}
.widget-title,
.widget-recent-post-title{
  font-size: 1rem;
}
.widget-title{
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.widget-recent-post{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--dark2);
  margin-bottom: 1em;
}
.widget-recent-post:last-child{
  border: 0;
  margin: 0;
}
.widget-image{
  order: -1;
}


/* End Widget */

/* Footer */
footer{
  background: var(--darkBlue);
  color: var(--white);
  text-align: center;
  padding: 2em 0;
}
/* End Footer */



