@import url("https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Playfair+Display:ital,wght@0,800;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");

:root {
  --dark: #292929;
  --lightDark: #616161;
  --white: #ffffff;
  --orange: #fe8529;
  --yellow: #eeb34b;
  --red: #e3394b;
  --lightRed: #fe4c6f;
  --darkBlue: #1d3557;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-background: #ffffff;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-primary: #7380ec;
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow-admin: 0 2rem 3rem var(--color-light);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}
.container {
  /* min-height: 100vh; */
  padding: 2rem;
  display: grid;
  text-align: center;
  gap: 2rem;
  margin: 5rem auto;
  
 grid-auto-flow: column;
}

.text {
  text-align: justify;
  padding: .5rem;
  
}
.banner img{
  display: grid;
  width: 100%;
  height: 40rem;
  
  object-fit: cover;
}
@media (max-width: 768px){
  .container{
    display: grid;
    grid-auto-flow: row;
  }
  .banner img{
    width: 100%;
    height: 40%;
   
  }
}


.wrapper {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}
.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal {
  grid-column: auto / span 2;
}

.vertical {
  grid-row: auto / span 2;
}

.big {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

.gridLayout {
  height: 100vh;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  gap: 2rem;

  padding: 2rem;
}
.gridLayout > div {
  border: 1px solid red;
  text-align: center;
}
.header {
  grid-column: 1 / span 12;
}
.navigation {
  grid-column: 1 / span 12;
}
.sidebar {
  grid-row: 3 / span 9;
}
.main {
  grid-column: 2 / span 5;
  grid-row: 3 / span 9;
}
.ads {
  grid-row: 3 / span 9;
  grid-column: 7 / span 6;
}
.footer {
  grid-column: 1 / span 12;
}
@media (max-width: 1120px) {
  .header {
    grid-column: 1 / span 13;
  }

  .navigation {
    grid-column: 1 / span 13;
  }
  .main {
    grid-column: 2 / span 12;
  }
  .sidebar {
    grid-row: 3 / 12;
  }
  .ads {
    grid-column: 1 /2;
    grid-row: 12;
  }
  .footer {
    grid-column: 2 / span 12;
  }
}
@media (max-width: 768px) {
  .gridLayout {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: auto auto auto 1fr auto auto; */
  }

  .header {
    grid-column: 1 / span 12;
  }
  .navigation {
    grid-column: 1 / span 12;
  }
  .sidebar {
    grid-column: 1 / span 12;
    grid-row: 3;
  }
  .main {
    grid-column: 1 / span 12;
    grid-row: 4 / span 5;
  }
  .ads {
    grid-column: 1 / span 12;
    grid-row: 9;
  }
  .footer {
    grid-column: 1 / span 12;
  }
}

.wesbos {
  display: grid;
  /* gap: 1rem; */
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 2rem;
  border: 3px solid forestgreen;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 5rem 1fr;
}
.wesbos .item {
  text-align: center;
  font-size: 2rem;
  color: var(--white);
}
.wesbos > div:nth-child(even) {
  background: var(--color-danger);
}
.wesbos > div:nth-child(odd) {
  background: var(--color-success);
}
