:root {
    --dark: #292929;
    --lightDark: #616161;
    --white: #ffffff;
    --orange: #fe8529;
    --yellow: #eeb34b;
    --red: #e3394b;
    --lightRed: #fe4c6f;
    --darkBlue: #1d3557;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-background: #ffffff;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-primary: #7380ec;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow-admin: 0 2rem 3rem var(--color-light);
  }
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  
  html {
    font-size: 62.5%;
  }
  body{
      display: flex;
      flex-wrap: wrap;
  }

  .sidebar{
      background: var(--dark);
      flex: 1 1 20%;
      min-width: 300px;
      padding: 8em;
      color: var(--white);
      display: flex;
      justify-content: space-between;
  }

  .logo{
      text-transform: uppercase;
      margin-bottom: 2rem;
     
      font-size: 2rem;

      /* @media(min-width: 1500px){
          margin-bottom: 5rem;


      }
       */

  }
  nav a{
    color: var(--white);
    font-size: 1.8rem;
     
  }
  nav a:not(:last-child){
      margin-right: 1rem;
  }
  .main-content{
      padding: 10%;
      flex: 1 1 80%;
      min-height: 100vh;
  }
  .portfolio{
      display: grid;
      height: 100%;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
  }
  .portfolio-item{
      background: var(--color-danger);
      color: var(--white);
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .medium{
      grid-row: span 2;
      grid-column: span 2;
  }

.large{
    grid-row: span 3;
    grid-column: span 3;
   
}
.tall{
    grid-row: span 3;
    grid-column: span 2;
}
.wide{
    grid-row: span 2;
    grid-column: span 3;
}
.one{
    background-image: url(https://source.unsplash.com/random);
    background-color: var(--dark);
    color: var(--white);
   
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}
.two{
    background-image: url(//unsplash.it/800/600);
    background-color: var(--dark);
    color: var(--white);
   
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;

   

}
.three{
    background-image: url(https://source.unsplash.com/random/800×600);
    background-color: var(--dark);
    color: var(--white);
   
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}
.four{
    background-image: url(https://source.unsplash.com/random/300×300);
    background-color: var(--dark);
    color: var(--white);
   
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}
.five{
    background-image: url(https://source.unsplash.com/random/);
    background-color: var(--dark);
    color: var(--white);
   
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}
.six{
    background-image: url(https://source.unsplash.com/random/600x500);
    background-color: var(--dark);
    color: var(--white);
   
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}

.one::before{
    content: '';
    display: block;
    background: var(--dark);
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all ease-in-out 300ms;
}
.one:hover::before{
    opacity: 0.2;
}
.one:hover{
    background-position: center;
}
.two::before{
    content: '';
    display: block;
    background: var(--dark);
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all ease-in-out 300ms;
}
.two:hover::before{
    opacity: 0.2;
}
.two:hover{
    background-position: center;
}
  /* media query */
@media(min-width: 1500px){
    .sidebar{
        display: block;
    }
    nav a{
        display: block;
        margin-right: none;
    }
}
@media(max-width: 620px){
    .sidebar{
        display: inline-block;
        font-size: 1.5rem;
    }
   
    nav a{
        display: block;
    }

}