* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #222;
  color: aliceblue;
}
.flex {
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  color: aliceblue;
}
.container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: repeat(10rem, auto);

  margin: 40px;
  grid-auto-flow: dense;
  gap: 1rem;
}
.container .box {
  background: #333;
  padding: 2rem;
  display: grid;
  font-size: 1.6rem;
  place-items: center;
  text-align: center;
  color: #fff;
  transition: 0.5s;
  box-shadow: .5rem .5rem .5rem rgb(68, 67, 67);
}
.container .box:hover {
  background: #e91e63;
}
.container .box img {
  position: relative;
  max-width: 10rem;
  margin-bottom: 1rem;
}
.container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}
.container .box:nth-child(2) {
  grid-column: span 1;
  grid-row: span 2;
}
.container .box:nth-child(4) {
  grid-column: span 1;
  grid-row: span 2;
}
.container .box:nth-child(5) {
  grid-column: span 3;
  grid-row: span 1;
}
/* img{
    height: 5rem;
    width: 5rem;
} */

/* =========Input Filed====== */

.inputBox{
  position: relative;
  width: 25rem;
  margin-bottom: 1rem;
}
.inputBox input{
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #222;
  border-radius: .5rem;
  outline: none;
  color: #fff;
  font-size: 1.4rem;
  transition: 0.5s;


}
.inputBox span{
  position: absolute;
  left: 0;
  padding: 1rem;
  font-size: 1.4rem;
  pointer-events: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.25);
  
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  color: #00dfc4;
  transform: translateX(1rem) translateY(-.7rem);
  font-size: 1rem;
  padding: .2rem 1rem;
  background: #222;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.3rem;

}

 .lastName input:valid ~ span,
 .lastName input:focus ~ span{
  background: #00dfc4;
  color: #222;
  border-radius: .2rem;
 }
 


.inputBox input:valid,
.inputBox input:focus{
  border: 1px solid #00dfc4;
}

/* =========Input Filed====== */
/* =========ripple button===========*/
.rippleBtn{
  display: inline-grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  appearance: none;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: transparent;
  text-transform: uppercase;
  color: hsl(200, 100%, 65%);
  border: 3px solid currentColor;
  overflow: hidden;
}

.rippleBtn::before{
  content: "";
  position: absolute;
  width: 100%;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 750ms;
  aspect-ratio: 1 / 1;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
  z-index: -1;

}
/* .rippleBtn:active::before{
  transform: translate(-50%, -50%) scale(1);

} */
.pulse::before{
  animation: pulse 500ms;
}
@keyframes pulse{
  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
/* =========ripple button===========*/
@media (min-width: 1530px) {
  
    .container {
      grid-template-columns: repeat(auto-fill, minmax(50%, 3fr));
      grid-template-rows: minmax(auto, auto);
    }
  
}
@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: minmax(auto, auto);
  }

  .container .box {
    grid-column: unset !important;
    grid-row: unset !important;
  }
}
