:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --red: rgb(196, 60, 60);
    --blue: rgb(31, 51, 107);
    --shadow: 0px 1px 5px rgba(104, 104, 104, 0.8);
}

html{

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body{
    background: var(--light);
    margin: 30px 50px;
    line-height: 1.4rem;
}

.logo{
    color: var(--red);
}

.btn{
    border: 2px solid var(--red);
    text-decoration: none;
    padding: 0.8rem 1.3rem;
    border-radius: 5px;
    color: var(--dark);
    box-shadow: var(--shadow);
}
.btn:hover{
    background: var(--red);
    color: var(--light);
}
img{
    max-width: 100%;
    align-items: right;
}
.showcase img{
    height: 300px;
    width: 300px;

}
.wrapper{
    display: grid;
    grid-gap: 20px;
}
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(7, 1fr);
}
.main-nav a{
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0;
}



/* Achivements */
.achivement{
    display: grid;
    grid-gap: 20px;
    position: relative;
    padding: 60px 0;
    background: #7cbddd;
    color: var(--light);
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    line-height: .8rem;
    
}

.icon:hover{
    color: var(--red);
   
}


/* Footer */
.footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    
}

.footer ul{
    text-align: left;
    padding: 0;
    
    
}
.footer ul li{
    list-style: none;
    margin: 15px 0;
    
   
}